* {
    font-size: large;  
    /* border: 1px solid #000 !important; */
}

.fa-carrot.rotated {
    transform: rotate(-45deg)
}

.yaml-option {
    border-bottom: 1px solid gray;
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

.add-options-buttons {
    justify-content: center !important
}

textarea, input {
    margin: 8px;
}

textarea {
    text-align: start !important;
    background-color: transparent;
    box-sizing: border-box
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around
}

.slider {
    /* width: 100%; */
    flex-grow: 1;
    margin: 0
}

.center-aligned {
    align-items: center
}

.horizontal {
    flex-direction: column
}

.vertical {
    flex-direction: row
}

.minimized-data {
    margin: 8px;
    padding: 8px;
    text-align: start !important
}

input[type=number] {
    border: 1px solid #ccc;
    min-width: 60px
}

input, textarea {
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box
}

input[type=text], select {
    border: none;
    outline: 0;
    background-color: transparent;
    text-align: center
}

input[type=text], textarea {
    flex-grow: 1;
    /* width: 100% */
}

input[type=text]:focus, textarea:focus {
    background-color: #ffffffaa
}

:not(h1) {
    font-size: large
}

.outer {
    flex-direction: column
}

tr:hover .secret {
    visibility: visible
}

.secret {
    visibility: hidden
}

.vl {
    background-color: #f90;
    width: 3px;
    margin: 0 8px 0 25px;
    border-radius: 2px;
    min-width: 3px
}

.key {
    justify-content: left;
    align-items: start;
    display: flex;
}

.create-row-button, .key, table {
    padding: 0
}

.create-row-button {
    border-radius: 5px;
    border-color: #1e90ff;
    color: #1e90ff
}

h3 {
    white-space: nowrap;
    color: #000;
    margin: 8px;
    padding: 8px;
}

button {
    cursor: pointer;
    background-color: transparent
}

table {
    flex: 1
}

table, td {
    border-collapse: collapse
}

td {
    text-align: center
}

.round-button {
    flex-grow: 4;
    color: #1e90ff;
    border: none;
    box-sizing: border-box
}

.slider-div {
    width: 100%;
    min-width: 150px
}

span {
    min-width: 60px
}

.fa-carrot {
    font-size: 30px !important;
    transform: rotate(-135deg);
    transition: transform .5s;
    padding: 12px;
    color: #f90
}

@media only screen and (max-width:600px) {
    .slider {
        display: none
    }

    button, input {
        display: inline-block
    }

    .key, table, td {
        padding: 0 !important
    }
}

@media only screen and (max-width:450px) {
    button {
        display: none
    }
}