table tr td:nth-child(1) {
    width: 60%;
    min-width: 128px
}

td:nth-child(1) {
    border-right: 1px gray dashed;
}

table tr td:nth-child(2) {
    width: 40%
}

table tr td:nth-child(3) {
    min-width: 60px
}

tr {
    border-bottom: 1px gray solid;
    border-top: 1px gray solid;
}

.borderless, .borderless > td {
    border: none
}

td {
    padding: 0;
}

td {
    text-align: center
}

table, td {
    border-collapse: collapse
}