.round-button {
    margin: 0;
    padding: 0;
    background: 0 0;
    white-space: nowrap;
}

.delete-button {
    margin: 0;
    padding: 0;
    background: 0 0;
    white-space: nowrap;
    color: var(--color-delete)
}

.fa-xmark {
    color: var(--color-delete);
}

.fa-wand-sparkles {
    color: var(--color-highlight);
}

.search-dropdown-button {
    padding: 8px;
    margin: 8px
}

button {
    text-align: top;
    cursor: pointer;
    border: none
}

button>i {
    font-size: 25px !important
}

tr:hover .secret {
    visibility: visible
}

.secret {
    visibility: hidden
}