/* * {
    font-size: medium
} */

.dropdown {
    flex-grow: 1;
    max-height: 600px;
    overflow-y: auto
}

.short-scroll {
    flex-grow: 1;
    max-height: 100px;
    overflow-y: auto
}


.flexgrow {
    flex-grow: 1;
}

h4 {
    text-align: center;
    margin: 8px
}

.fa-carrot.rotated {
    transform: rotate(-45deg)
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

.add-options-buttons {
    justify-content: center !important
}

textarea {
    text-align: start !important;
    background-color: transparent;
    box-sizing: border-box
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* margin: 2px 0; */
}

.slider {
    flex-grow: 1;
    margin: 0
}

.center-aligned {
    align-items: center
}

.horizontal {
    flex-direction: column
}

.vertical {
    flex-direction: row;
}

.button-container {
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: flex-start;
}

.minimized-data {
    /* margin: 8px; */
    /* padding: 8px; */
    text-align: start !important
}

li>input {
    margin: 0;
    text-align: start !important
}

input[type=number] {
    border: 1px solid #ccc;
    min-width: 60px
}

input, textarea {
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box
}

textarea {
    resize: vertical;
}

input[type=text], select {
    border: none;
    outline: 0;
    background-color: transparent;
    text-align: center
}

select {
    margin: 8px;
    padding: 8px
}

input[type=text], textarea {
    flex-grow: 1
}

input[type=text]:focus, textarea:focus {
    background-color: #ffffffaa
}

:not(h1, h2, h3, h4, h5, h6) {
    font-size: medium
}

.outer {
    flex-direction: column
}

tr:hover .secret {
    visibility: visible
}

.invisible, .secret {
    visibility: hidden
}

.vl {
    background-color: #FFA500;
    width: 3px;
    margin: 0 8px 0 27px;
    border-radius: 2px;
    min-width: 3px
}

.key, .option-group-key {
    justify-content: left;
    display: flex
}

.key {
    align-items: center
}

.option-group-key {
    align-items: start
}

.key, .option-group-key, table {
    padding: 0
}

.create-row-button,
.create-row-button-level-zero,
.create-row-button-level-one,
.create-row-button-level-two,
.create-row-button-level-three,
.create-row-button-level-four {
    margin: 8px;
    border-radius: 5px;
    color: #1e90ff;
    padding: 8px;
    border: 3px solid #1e90ff;
    font-weight: bold;
}

.create-row-button {
    border-color: #8753ff;
    background-color: #d3cdff;
    color: #d3cdff;
    /* background-color: #d0eaff; */
}

.create-row-button-level-zero {
    background-color: #0000004D;
    border-color: #8753ff;
    color: #8753ff;
    /* background-color: #d0eaff; */
}

.create-row-button-level-one {
    background-color: #8753ff;
    border-color: #d3cdff;
    color: #d3cdff;
    /* background-color: #d0eaff; */
}

.create-row-button-level-two {
    background-color: #5398ff;
    border-color: #d0eaff;
    color: #d0eaff;
    /* background-color: #d0eaff; */
}

.create-row-button-level-three {
    background-color: #5dc85d;
    border-color:  #d0f0d0;
    color: #d0f0d0;
    /* background-color: #d0eaff; */
}

.create-row-button-level-four {
    border-color:  #e6f5d0;
    background-color: #d9e10c;
    color: #e6f5d0;
    /* background-color: #d0eaff; */
}

.yaml-option,
.yaml-option-level-one,
.yaml-option-level-two,
.yaml-option-level-three,
.yaml-option-level-four
{
    margin-bottom: 5px;
    border-radius: 10px;
    border: 4px solid black;
    padding: 8px;
    justify-content: flex-start;
}

.yaml-option-level-one {
    background-color: #0000004D;
    border-color: #00000000;
}

.yaml-option-level-two {
    border-color: #00000000;
    background-color: #0000004D;
}

.yaml-option-level-three
{
    border-color: #00000000;
    background-color: #0000004D;
}

.yaml-option-level-four {
    border-color: #00000000;
    background-color: #0000004D;
}

/* .yaml-option-subsection {
    border-radius: 10px;
    border: 4px solid #d9e10c;
    background-color: #e6f5d0;
    padding: 8px;
} */

h3 {
    white-space: nowrap;
    /* color: #000 */
}

button {
    cursor: pointer;
    background-color: transparent
}

table {
    flex: 1
}

table, td {
    border-collapse: collapse
}

td {
    text-align: center
}

.round-button {
    flex-grow: 4;
    color: #1e90ff;
    border: none;
    box-sizing: border-box
}

.slider-div {
    width: 100%;
    min-width: 150px
}

span {
    min-width: 60px
}

.fa-carrot {
    font-size: 30px !important;
    transform: rotate(-135deg);
    transition: transform .5s;
    padding: 14px;
    color: #FFA500
}

.end-aligned-items {
    flex-grow: 1;
    text-align: end;
}

.option-hint {
    margin: 0 8px;
    white-space: pre-wrap;
    color: lightslategray;
}

.option-hint > span {
    display: block;
    background: linear-gradient(to bottom, lightslategray 50%, transparent);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    overflow-y: hidden;
    max-height: 50px;
}

.option-hint > span:hover {
    max-height: 999px;
    transition: max-height 1s ease-in-out;
    background: lightslategray;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media only screen and (max-width:600px) {
    .invisible, .slider {
        display: none
    }

    button, input {
        display: inline-block
    }

    .key, table, td {
        padding: 0 !important
    }
}

@media only screen and (max-width:450px) {
    button {
        display: none
    }
}